<%- include('headerAndNav') %>
  <body>
    <div class="container navTopMargin">
      <div class="row">
        <div class="col d-flex justify-content-center align-self-center selectFormTitle backgroundDisplay">
          <h1><span class="display">Bird Sightings</span></h1>
        </div>
      </div>
    </div> 
    
<div class="container-sm tableDisplay">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Species Name</th>
      <th scope="col">Habitat</th>
      <th scope="col">Flock Size</th>
      <th scope="col">Logged By</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% sightings.forEach((sighting)=>{ %>
    <tr>
      <th scope="row"><%=sighting.id%></th>
      <td><a href="/note/<%=sighting.id%>"><%=sighting.species_name%> </a> </td>
      <td> <%=sighting.habitat%> </td>
      <td> <%=sighting.flock_size%> </td>
      <td> <%=sighting.username%></td>      
    <td>
      <div class="row">
        <div class="col-sm-3">
             <a href="/note/<%=sighting.id%>/edit" class="btn btn-warning" role="button">
          Edit</a
        >
        </div>
       <div class="col-sm-3"> 
        <form action="/note/<%=sighting.id%>/delete?_method=DELETE" method="POST">
          <input
            type="submit"
            class="btn btn-danger"
            name="_method"
            value="Delete"
          />
        </form>
      </div>
    </div>
    </td>
    </tr>
    <% }) %>
  </tbody>
</table>
  </div>

  </body>

<%-include('footer') %>
